<br>
<br>
<div>

    <table class="table">
      <thead class="thead-dark" style="width: 100%;">
        <tr>
          <th scope="col" colspan="2">Customer Details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Name: </th>
          <th scope="row"  class="font-weight-normal">{{ customer.name }}</th>
        </tr>
        <tr>
          <th scope="row">Email:</th>
          <th scope="row"  class="font-weight-normal">{{ customer.email }}</th>
        </tr>
        <tr>
          <th scope="row">Phone:</th>
          <th scope="row"  class="font-weight-normal">{{ customer.phone }}</th>
        </tr>
        <tr>
          <th scope="row">Address:</th>
          <th scope="row"  class="font-weight-normal">{{ customer.address }}</th>
        </tr>
        <tr>
          <th scope="row">Description:</th>
          <th scope="row"  class="font-weight-normal">{{ customer.description }}</th>
        </tr>
      </tbody>
    </table>
</div>
<br>
<div>
  <button class="btn btn-primary" (click)="loadDashboard()">Back To Dashboard</button>
</div>
<br>
